html {
    scroll-behavior: smooth;
}

.bg-image {
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to top left, #0008ff, #0e16f3, #0a0420); */
    background-image: linear-gradient(to top left, #0b7ef1, #3694e6, #9f89ef);
    background-size: 800% 100%;
    animation: gradient 10s ease-in-out infinite;
    animation-direction: alternate;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

body {
    font-family: Cantarell, sans-serif;
}

.bg-cross {
	background-color: #e5e5f7;
	opacity: 0.8;
}
